@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
  --primary-blue: #005086;
  --blue-aqua: #318fb5;
  --danger: #ef4f4f;
  --white: #ffffff;
  --black: #000000;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}